@import url('https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

#logo {
    width: 20x;
    height: 28px;
    line-height: 100px;
    padding-left: 20px;
    margin: 10px;
    margin-bottom: 50px;
}

h1 {
    font-family: 'Rasa';
    display: inline-block;
    padding-left: 410px;
    padding-right: 270px;
}

#header div {
    color: #6F5896;
    font-family: 'Rasa';
    display: inline-block;
    justify-content: space-evenly;
}

#subscribe {
    margin: 5px;
    background-color: #BAA1E2;
    color: white;
    border: none;
    padding: 4px;
}

#email {
    margin: 10px;
    border: none;
    background-color: white;
}

#sea {
    margin: 10px;
    border: none;
    background-color: white;
}

#tittleBar {
    background-color: #6F5896;
    color: white;
    height: 48px;
    width: 100%;
    box-sizing: border-box;
}

.tittle {
    padding-left: 175px;
    font-size: medium;
    line-height: 50px;
    font-weight: 300;
}

h1::first-letter {
    font-size: 55px;
}

.s {
    font-size: 55px;
}



/* landing page body begins */
#img1 {
    margin: 50px;
    margin-left: 350px;
}

#heroText {
    text-align: center;
    font-family: 'Rasa';
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
}

#heroText2 {
    width: 95%;
    padding-left: 300px;
    padding-right: 200px;
    font-family: 'Rasa';
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;

}

#heroText2 p::first-letter {
    font-weight: 300;
}

#img2 {
    padding: 100px;

}

#video {
    margin-left: 250px;
}

#description1 {
    width: 1158px;
    font-family: 'Rasa';
    font-size: 32px;
    font-weight: 300;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    padding: 45px;
    padding-right: 5px;
    margin-left: 55px;
    color: rgb(46, 42, 42);
    line-height: 1.2;
    letter-spacing: 1.2px;

}

p::first-letter {
    font-size: 40px;
    font-weight: 400;
}

#img3 {
    margin-left: 100px;

}

#description2 {
    width: 1158px;
    height: 350px;
    padding: 45px;
    padding-right: 5px;
    margin-left: 55px;
    font-family: 'Rasa';
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(46, 42, 42);
    line-height: 1.2;
    letter-spacing: 1.2px;
}

#a {
    font-size: 40px;
    font-family: 'Rasa';
    line-height: 70px;
    color: white;
    padding-top: 100px;
}

.foot {
    color: white;
    font-size: large;
    padding-top: 130px;
}

#footer {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    height: 300px;
    background-color: #6F5896;

}

/* landing page body ends  */
/* fashion page begins */
#pageTittleFashion {
    color: #6F5896;
    font-family: 'Rasa';
    font-size: 36px;
    font-weight: 50px;
    line-height: 44px;
    padding: 50px;
    line-height: 44px;
    text-align: center;
}

#fashionImageSection {
    display: flex;
    justify-content: space-evenly;
}

.posts_fashion {
    height: 585px;
    background-color: #6F5896;
    margin-top: 60px;
    display: flex;
}

.posts_images {
    padding: 50px;
    margin-bottom: 20px;
}

.Fpost_description {
    width: 680px;
    height: 422px;
    font-family: 'Rasa';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    color: white;
    margin-right: 10px;
    margin-left: 30px;
    margin-top: 20px;
}

.post_tittle {
    background-color: #6F5896;
    border: none;
    margin: 15px;
}

.comment_tittle {
    color: white;
    background-color: #6F5896;
    margin-left: 30px;
}

.comment_bar {
    border-radius: 15px;
    border: none;
    color: black;
    place-content: centre;
}

/* fashion page ends */
/* family page begins */
#pageTittleFamily {
    color: #6F5896;
    font-family: 'Rasa';
    font-size: 36px;
    font-weight: 50px;
    line-height: 44px;
    padding: 50px;
    line-height: 44px;
    text-align: center;
}

#familyImageSection {
    display: flex;
    justify-content: space-evenly;
}

.family_posts {
    font-family: 'Rasa';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    margin-left: 180px;
    color: #6F5896;
}

.familyPost_section {
    margin-left: 100px;
}

.familyPost_description {
    margin: 100px;
    font-family: 'Rasa';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    color: rgb(46, 42, 42);
    text-align: center;
}

/* family page ends */
/* lifestyle page begins */
#pageTittleLifestyle {
    color: #6F5896;
    font-family: Rasa;
    font-size: 36px;
    font-weight: 50px;
    line-height: 44px;
    padding: 50px;
    line-height: 44px;
    text-align: center;
}

#lifestyleImageSection {
    display: flex;
    justify-content: space-evenly;
}

.lifestyle_posts {
    font-family: 'Rasa';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    margin-left: 250px;
    color: #6F5896;
}

.lifestylePost_section {
    margin-left: 250px;
}

.lifestylePost_description {
    margin: 100px;
    font-family: 'Rasa';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    color: rgb(46, 42, 42);
    text-align: center;
}

/* lifestyle page ends */
/* beauty-skincare page begins */
#pageTittleBeauty {
    color: #6F5896;
    font-family: 'Rasa';
    font-size: 43px;
    font-weight: 50px;
    line-height: 44px;
    padding: 50px;
    line-height: 44px;
    text-align: center;
}

#beauty_skincareImageSection {
    display: flex;
    justify-content: space-evenly;
}

.beautyskincare_posts {
    font-family: 'Rasa';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    margin-left: 150px;
    color: #6F5896;
}

.beautyskincarePost_section {
    margin-left: 350px;
}

.beautyskincarePost_description {
    margin: 100px;
    font-family: 'Rasa';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    color: rgb(46, 42, 42);
    text-align: center;
}

/* beauty-skincare page ends */
/* beauty-makeup page begins */
#beauty_makeupImageSection {
    display: flex;
    justify-content: space-evenly;
}

.beautymakeup_posts {
    font-family: 'Rasa';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    margin-left: 150px;
    color: #6F5896;
}

.beautymakeupPost_section {
    margin-left: 350px;
}

.beautymakeupPost_description {
    margin: 100px;
    font-family: 'Rasa';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    color: rgb(46, 42, 42);
    text-align: center;
}

/* beauty-makeup page ends */
/* contact page begins */
#contactForm {
    margin-left: 75px;
}

.labels {
    color: #6F5896;
    font-family: Rasa;
    font-size: 24px;
    line-height: 1.5;
}

#name {
    height: 43px;
    width: 410px;

}

#email_address {
    height: 43px;
    width: 410px;
}

#subject {
    height: 43px;
    width: 410px;
}

#message {
    height: 280px;
    width: 700px;
}

#send {
    height: 38px;
    width: 132px;
    background-color: #6F5896;
    border: none;
    color: white;
    margin: 20px;
}

/* contact page ends */
/* beauty page begins */
#select {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

/* beauty page ends */
/* search page begins */
#searchform {
    margin: 40px 0px 150px 500px;
}

#search {
    height: 40px;
    width: 410px
}

#search_bar {
    height: 50px;
    width: 50px;
    border: #BAA1E2;
    background-color: white;
    box-sizing: border-box;
}

/* search page ends */
/* email page begins */
#emailform {
    margin: 50px 0px 500px 450px;
}

#emailpage {
    height: 40px;
    width: 410px;
}

#email_page {
    height: 50px;
    width: 50px;
    background-color: white;
    border: none;
}

/* email page ends */
/* admin panel-settings page begins */
#setting_post {
    width: 310px;
    height: 1150px;
    background-color: white;
    border-right: solid grey;
}

#setting_section {
    width: 1030px;
    height: 1150px;
    background-color: white;
    padding-left: 30px;
}

#setting {
    display: flex;
    flex-direction: row;
}

#new_post {
    background-color: #BAA1E2CF;
    height: 63px;
    width: 100px;
    margin-left: 50px;
    border-radius: 50px;
    border: none;
}

#view_blog {
    background-color: #BAA1E2CF;
    height: 63px;
    width: 100px;
    margin-left: 50px;
    border-radius: 50px;
    border: none;
}

.descrp {
    font-family: Rasa;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #BAA1E2;
}

#privacy {
    display: inline;
    margin: 0px 0px 20px 40px;
    font-size: 30px;
}

#http {
    display: inline;
    margin: 0px 0px 20px 40px;
    font-size: 30px;
}

/* admin panel-settings page ends */
/* new post page section begins */
.page_button {
    background-color: #BAA1E2CF;
    height: 86px;
    width: 215px;
    margin-left: 50px;
    border-radius: 50px;
    border: none;
    margin: 20px;
    color: white;
    font-size: 25px;
}

#new_post_page {
    margin-left: 550px;
}

/* new post page section ends */
/* about page begins */
#about {
    font-family: 'Rasa';
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;

}

/* about page ends */